doctype html
html
    head
        title Gmot
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/styles/main.css")
        include ../includes/scripts
    body(ng-app="app")
        include ../includes/currentUser
        div(ng-controller="mvLoginCtrl")
            a.nav-item(href="/") Home
            a.nav-item(href="/courses", ng-show="identity.isAuthenticated()") Courses
        div(ng-view)
