doctype html
html
    head
        title Gmoti
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/styles/main.css")
        include ../includes/scripts
        base(href="/")
    body(ng-app="app")
        include ../includes/currentUser

        header.navbar.navbar-default(ng-controller="mvLoginCtrl")
            div.container
                div.navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.navbar-collapse.collapse.navbar-responsive-collapse
                    ul.nav.navbar-nav
                        li
                            a.gm-link-item(href="/", ng-class="{'btn--attention': isNavActive('/')}") Home
                        li
                            a.gm-link-item(href="/about", ng-class="{'btn--attention': isNavActive('/about')}") About
                        li(ng-show="identity.isAuthenticated()")
                            a.gm-link-item(href="/tasks", ng-class="{'btn--attention': isNavActive('/tasks')}") Tasks
                        li(ng-show="identity.isAuthenticated()")
                            a.gm-link-item(href="/current-sprint", ng-class="{'btn--attention': isNavActive('/current-sprint')}") Sprint

                    div.navbar-right(ng-show="!identity.isAuthenticated()")
                       a.navbar-btn.btn.btn-info(href="/register") Sign up

                    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
                        li.dropdown
                            a.gm-link-item.dropdown-toggle(href="#", data-toggle="dropdown") {{identity.currentUser.firstName}}
                                b.caret
                            ul.dropdown-menu
                                li
                                    a.gm-link-item(href="", ng-click="logout()") Sign out
                                li.divider
                                li
                                    a.gm-link-item(href="/profile") Edit Profile

        div(ng-view)
        footer
