doctype html
html
    head
        title Gmot
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/styles/main.css")
        include ../includes/scripts
    body(ng-app="app")
        div(ng-view)
