input(ng-model="searchText", placeholder="Filter")

select(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")

ul.course-wrap
   li(ng-repeat="course in courses | filter: searchText | orderBy: sortOrder")
        a(href="/courses/{{course._id}}") {{course.title}}
        div {{course.published | date}}
        span(ng-repeat="tag in course.tags") {{tag}}

h2 Add a course
form.add-course
    input(ng-model="courseInput")
    button(ng-click="addCourse()") Add

div.coursesAdded
    ul
        li(ng-repeat="course in userCourses") {{course}}