form.registration-form.form(novalidate, name="profileForm")
        div.form-group.cf
            label.form-group__label(for="username") User name
            input.form-group__control.form-control(type="text", name="username", id="username", ng-model="username", required)
        div.form-error.form__error(ng-messages="profileForm.username.$error")
            span(ng-message="required") This shouldn't be empty!
        div.form-group.cf
            label.form-group__label(for="username") First name
            input.form-group__control.form-control(type="text", name="firstName", id="firstName", ng-model="firstName", required)
        div.form-error(ng-messages="profileForm.firstName.$error")
            span(ng-message="required") This shouldn't be empty!
        div.form-group.cf
            label.form-group__label(for="password") Password
            input.form-group__control.form-control(type="password", name="password", id="password", ng-model="password")
        .form-group.cf
            button.btn.btn-primary.btn--attention.registration-form__btn(ng-click="update()", ng-disabled="profileForm.$invalid") Save
            a.registration-form__cancel-link.color--background(href="/") Cancel
