div(ng-controller="mvRegisterCtrl")
    form.registration-form(ng-hide="identity.isAuthenticated()", novalidate, name="registrationForm")
        label(for="username") User name
        input(type="text", name="username", id="username", ng-model="username", required)
        label(for="username") First name
        input(type="text", name="firstName", id="firstName", ng-model="firstName", required)
        label(for="password") Password
        input(type="password", name="password", id="password", ng-model="password", required)
        button.btn.btn--primary.btn--attention.form__login-btn(ng-click="register()", ng-disabled="registrationForm.$invalid") Sign up
        a.btn.btn--primary.form__login-btn(href="/") Cancel