@import 'components/form';

.nav-item {
  background: green;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    background: lighten(green, 5%);
  }

  &:active {
    background: lighten(green, 10%);
  }
}

.welcome-message {
  text-align: center;
  font-size: 30px;
}

.secondary-nav-item {
  display: block;
  margin-top: 10px;
  color: green;
  text-decoration: none;
}

.meta-nav {
  margin-top: 30px;
}