$mobile: 768px;
$tablet: 1200px;
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
$color-attention: #872D62;
$color-background: #B8B8B8;
$color-branding--dark: #0A4700;
$color-branding--light: #258cd1;
$color-error: #e74c3c;
$font-ordinary: 'Roboto', sans-serif;
$font-heading: 'Oswald', sans-serif;

//3C8D2F
@import "components/bootstrap";
@import "components/base";
@import "components/utils";
@import "components/toastr";
@import 'components/form';
@import "components/common";
@import "components/nav";
@import "components/task-filter-controls";
@import "components/task";
@import "components/category";
@import "components/sprint";
@import "components/jquery-ui";