div.container
    h1 About this app
    p Currently it can do little. You can:
    ul
        li register
        li login
        li create a list of task
        li mark your tasks done or delete them
    p In the near fulure I'm going to integate some calendar thing to add the deadlines to the tasks

