div(ng-controller="mvLoginCtrl")
    form.registration-form(ng-hide="identity.isAuthenticated()")
        a(href="/register") Sign up
        label(for="username") User name
        input(type="text", name="username", id="username", ng-model="username")
        label(for="password") Password
        input(type="password", name="password", id="password", ng-model="password")
        button.btn.btn--primary.btn--attention.form__login-btn(ng-click="login(username, password)") Log in
    div(ng-show="identity.isAuthenticated()")
        nav.meta-nav
        a.secondary-nav-item(href="" ng-click="logout()") Sign out
        a.secondary-nav-item(href="/profile") Edit profile
        h1.welcome-message Welcome {{identity.currentUser.firstName}}


div(ng-controller="mvMainCtrl")
    ul
        li(ng-repeat="course in courses") {{course.title}}