div.container
    header.gm-sptint__header.row
        h2.col-sm-5 Add a Sprint
        div.col-sm-3.gm-hours-counter
            span.gm-hours-counter__text hours planned for this sprint
            span.gm-hours-counter__hours {{hours}}
    div.row
        div.col-sm-8
            ul.gm-add-sprint__categories.list-unstyled
                li.gm-sprint__category.gm-category-item(ng-repeat="category in categories track by $index")
                    header.new-sprint__category-header
                        h3 {{category.name}}
                    ul.list-group(ng-hide="category.close")
                        li.list-group-item.row(ng-repeat="task in category.tasks track by $index")
                            span.gm-add-sprint__task.col-xs-6(ng-click="task.selecting = !task.selecting") {{task.name}}
                            div.col-xs-6.text-right
                                button.btn.gm-attention(ng-click="task.selecting = !task.selecting", ng-hide="task.selecting || task.added") Add to sprint
                                span.text-success(ng-hide="task.selecting") {{task.planned}}
                                form.form-inline(name="selectTaskForm", ng-show="task.selecting")
                                    input.form-control.gm-task-hours__input.form-group(type="number" name="task" ng-model="task.planned" autofocus min="1")
                                    button.btn.gm-attention.form-group(ng-click="addTask(task)") Add hours
                                    button.btn.form-group(ng-click="task.selecting = false; task.planned = ''") Cancel
                                span.btn.btn-link(ng-click="deleteTask(task, $index)", ng-show="task.added") Remove from sprint
            form.form-inline(name="deadlineForm" ng-if="categories.length")
                div.row
                    div.col-lg-6
                        div.form-group.cf
                            label(for="deadline" class="pull-left") Deadline: {{dates.finish | date}}
                            button.btn.gm-attention.btn-lg.margin-m(ng-click="createSprint()", ng-disabled="!hours") Create a new sprint!

                    div.col-lg-6
                        datepicker(ng-model="dates.finish" min-date="dates.minDate" show-weeks="true" class="well well-sm in-bl pull-right")


