.btn {
  border-radius: 3px;
  display: inline-block;
}

.btn-primary {
  padding: 10px;
  font-size: 20px;
}

.btn-secondary {
  padding: 8px;
  font-size: 16px;
}

.btn-tertiary {
  font-size: 14px;
  padding: 6px;
}

.btn--attention {
  background: $color-attention;
  color: #fff;

  &:hover {
    background: lighten($color-attention, 5%);
  }
}

.btn--branding {
  background: $color-branding--dark;
  color: #fff;
}

.btn--neutral {
  background: $color-background;
  color: #fff;
}
