.gm-task-hours__input.form-control {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}

.gm-sprint__add-hours {
  text-align: right;
  
  @media(max-width: $mobile){
    text-align: left;
    display: block;
  }
}

.gm-add-sprint__task {
  margin-top: 10px;
}

.gm-hours-counter {
  margin-top: 10px;
  text-align: right;

  @media(max-width: $mobile){
    text-align: left;
  }
}

.gm-hours-counter__text {
  font-size: 13px;
  color: $color-background;
  line-height: 1;
  width: 70px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

.gm-hours-counter__hours {
  font-family: $font-heading;
  font-size: 40px;
  color: $color-branding--light;
  vertical-align: middle;
  display: inline-block;
}

.deadline-form__input.form-control {
  margin-left: 20px;
  width: 130px;

  @media(max-width: $mobile) {
    margin-left: 0;
  }
}

.gm-sprint__category {
  border: 0;
}

.gm-sprint__header {
  margin-bottom: 30px;
}

.gm-sprint__deadline {
  margin-top: 15px;

  @media(max-width: $mobile){
    margin-top: 0;
  }
}

.gm-sprint__task-name {
  margin-top: 15px;
}

.gm-hours__item {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #464545;
  border-right: 0;

  &:last-child {
    border-right: 1px solid #464545;
  }
}

.gm-hours__item--done {
  background: $color-branding--light;
}
