.gm-add-category-form {
  margin-top: 20px;
}

.gm-tasks.list-group {
  margin-bottom: 10px;
}

.gm-task {
  padding: 20px 0;

  &.list-group-item {
    padding-right: 0;
    padding-left: 0;
  }

  &:hover {
    .gm-task__details {
      display: inline-block;
    }
  }
}

.gm-task__name {
  cursor: pointer;
  .edit {
    margin-left: 5px;

  }
}

.gm-task__details-delete {
  margin-left: 10px;

  @media(max-width: $mobile) {
    display: block;
    margin-left: 0;
  }
}

.gm-task__details {
  display: none;

  @media(max-width: $tablet) {
    display: block;
    text-align: left;
  }

  @media(max-width: $mobile){
    margin-top: 10px;
  }
}

.gm-add-task__sign {
  font-size: 30px;
  cursor: pointer;
  padding-left: 0;
}

.gm-add-task-form {

  .form-group {
    margin-right: 10px;

    @media(max-width: $mobile){
      margin-right: 0;
    }
  }

  .form-control {
    width: 300px;

    @media(max-width: $tablet){
      width: 100%;
    }
  }
}

.gm-add-task {
  margin-bottom: 10px;
}