
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cancel {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  color: $color-background;
  margin-left: 10px;

  &:hover {
    color: #333;
  }
}

.editable {
  &:hover {
    .edit {
      display: inline-block;
    }
  }
}

.in-bl {
  display: inline-block;
}

.margin-s {
  margin-top: 10px;
}

.margin-m {
  margin-top: 20px;
}