div.container
    div.row
        div.col-sm-8
            ul.list-unstyled
                li.gm-category-item(ng-repeat="category in categories track by $index")
                    header.category-item__header.editable
                        h3.gm-category__name(ng-hide="category.editingCategory", ng-click="category.editingCategory = !category.editingCategory") {{category.name}}
                            button.edit.gm-category__name-edit
                                span.glyphicon.glyphicon-pencil
                    div(ng-show="category.editingCategory")
                        form.form-inline(name="categoryEditForm", ng-submit="category.editingCategory = false")
                            input.form-control(ng-model="category.name", name="categoryName", required)
                            button.btn(ng-click = "saveEditedCategory(category)", type="submit", ng-disabled="categoryEditForm.$invalid" )
                                span.glyphicon.glyphicon-ok
                            button.btn.text-muted(ng-click="deleteCategory(category, $index)") Delete
                            div.form-error(ng-messages="categoryEditForm.categoryName.$error")
                                span(ng-message="required") This shouldn't be empty!
                    ul.gm-tasks.list-unstyled.list-group
                        li.list-group-item.gm-task.row(ng-repeat="task in category.tasks track by $index")
                            div.col-md-6
                                span.gm-task__name.editable(ng-hide="editing", ng-click="editing = !editing")
                                    span {{task.name}}
                                    button.edit
                                        span.glyphicon.glyphicon-pencil
                                form.form-inline(name="taskEditForm" , ng-show="editing", ng-submit="editing = false")
                                    input.form-control(ng-model="task.name", name="taskName", required)
                                    button.btn(ng-click = "saveEditedTask(task)", type="submit", ng-disabled="taskEditForm.$invalid" )
                                        span.glyphicon.glyphicon-ok
                                    div.form-error(ng-messages="taskEditForm.taskName.$error")
                                        span(ng-message="required") This shouldn't be empty!
                            div.gm-task__details.col-md-6.text-right
                                span.text-muted Created on {{task.created |date }}
                                button.gm-task__details-delete(ng-click="deleteTask(category, task, $index)") Delete
                    div.gm-add-task
                        button.btn.gm-add-task__sign
                            span.glyphicon.glyphicon-plus.color--attention(ng-hide="category.addingTask", ng-click="category.addingTask = !category.addingTask", title="Add a new task!")
                        form.gm-add-task-form.form-inline(name="addTaskForm", ng-show="category.addingTask", ng-submit="category.addingTask = false")
                            div.form-group
                                input.form-control(ng-model="category.newTask", required)
                            div.form-group
                                button.btn.gm-attention(ng-click="addTask(category, category.newTask)", ng-disabled="addTaskForm.$invalid") Add task
                                span.btn.btn-link(ng-click="category.addingTask = false") Cancel

        div.col-sm-4.gm-add-category-form
            h4 Create a category
            form(name="addCategoryForm")
                input.form-control.form-group(ng-model="newCategory", required)
                button.btn.btn.btn-block.gm-attention.form-group(ng-click="addCategory()", ng-disabled="addCategoryForm.$invalid") Add



